body {
    background-color: aqua;
}
p   { font-size: 100; color:lightcoral; }
p.important { border-style: solid; display: inline-block; border-width: 10px; border-color: aquamarine;}
.center { display: block; margin: auto; }
.centertext { text-align: center; }
figure {
    float:left;
    text-align: center;
    font-style: oblique;
    font-size: medium;
    text-indent: 0%;
    border:thin gold solid;
    padding-top: 150;
}
figcaption{ 
    caption-side: bottom;
}
  

img{
    max-width: 100%;
    height: auto;
}


color: white;
background: #0f0f0f;
border-width: 5px 7px 7px 6px;
border-color: red;



